.container {
  display: flex;
}

.list {
  width: 30%;
  height: calc(100vh - 43px);
}

.list li {
  display: flex;
}

.list li span {
  display: inline-block;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list li:hover {
  background-color: #546e7a;
  cursor: pointer;
}

.likeIcon {
  margin-left: 4px;
  margin-right: 6px;
}

.liked {
  color: #c2185b;
}

.deleteImage {
  color: #b71c1c;
  margin: auto;
  margin-right: 8px;
}

.selected {
  background-color: #78909c;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 43px);
  width: 70%;
}

.imageContainer img {
  padding: 4px;
  height: max-content;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
