.menu {
  background-color: #004d40;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu li {
  padding: 10px 0px;
}

.menu li a {
  padding: 10px 50px;
  color: #fff;
  text-decoration: none;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.menu li a:hover {
  color: #1de9b6;
}

.active {
  background-color: #2e7d32;
}
