.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  min-height: calc(100vh - 43px);
}

.logo {
  background-color: green;
  padding: 8px;
}
