label.label input[type='file'] {
  position: absolute;
  top: -5000px;
}
.label {
  z-index: 5;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px;
  background: #004d40;
  display: inline-block;
  position: fixed;
  bottom: 8px;
  left: calc(15% - 46px);
}
.label:hover {
  background: #5cbd95;
}
.label:active {
  background: #004d40;
}
.label:invalid + span {
  color: #000000;
}
.label:valid + span {
  color: #004d40;
}
